################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KeyVaultTraining1st/.vs/KeyVaultTraining1st
/KeyVaultTraining1st/KeyVaultTraining1st/obj
